/* -----------------
Proposal Signatories
------------------- */

.signatory {
	padding-top: 2em;
	padding-bottom: 0.5px;
}

.signatory .signatories-name,
.signatory .signatories-name-label {
	text-align: center;
}

.signatory .signatories-label,
.signatory .signatories-date-label{
	background-color: #F2F1EF;
}
.signatory .signatories-name p {
	font-size: 15.5px;
	font-weight: 500;
}

.signatory .signatories-name-label label {
	font-size: 14px;
}